@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.searchbar{
    display: flex;
    width: 100%;
    min-height: 40px;
    padding: 5%;
    align-items: center;
    justify-content: center;
}
.searchbar button{
    margin-left: 10px;
    padding: 5px;
    background-color: #917FB3;
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    font-weight: bold;
}
.searchbar button:hover{
    background-color: #4f3879;
}