@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.searchbar{
    display: flex;
    width: 100%;
    min-height: 40px;
    padding: 5%;
    align-items: center;
    justify-content: center;
}
.searchbar button{
    background-color: rgb(67, 125, 232);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.searchbar button:hover{
    background-color: rgb(37, 76, 147);
}