.card-container {
  display: inline-block;
  width: 270px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  background-color: #917FB3;
  border-radius: 20px;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.image-container img {
  margin-top: 36px;
  overflow: hidden;
  height: 155px;
  width: 240px;
}
.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
}
h3 {
  margin-top: 10px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}
p {
  margin-top: 10px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}
.card-title {
  margin-top: 10px;
  margin-bottom: 0.5rem;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  padding: 0.5rem;
  background-color: rgb(247, 250, 255);
  border: none;
  transition: 0.2s;
  border-radius: 3px;
  color: rgb(0, 0, 0);
}
.btn button:hover {
  background: #a19ea7;
  transform: scale(1.1);
}
a {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
.status-of-post {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  margin-left: 200px;
  font-size: 13px;
}
