.navbar {
  background-color: #24262b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.navbar img {
  width: 200px;
  height: 80px;
}

.links {
  display: flex;
  align-items: center;
}

.user {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#user {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
